DB_USER=postgres
DB_PASSWORD=123123
DB_NAME=RecipesDB


DATABASE_URL="postgresql://postgres:123123@localhost:5432/RecipesDB?schema=public"

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET= #https://generate-secret.vercel.app/32

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=